# IDE
.idea/
.vscode/

# Test code should not be committed
**/src/test/

# Docs should not be committed, except root readme
docs/
*.md
!/readme.md

# Local reference projects should not be committed
references/
